html
{
    display:table;
    margin: auto;
    font-family: sans-serif;
}
img
{
    width: 400px;
}
html,body
{
    height: 100%;
}
body
{
    vertical-align: center;
    background: #F0F7D4;
}
img
{
    width: 400px;
    float: left;
    border: green solid 1px;
}
footer
{
    clear:both;
    width: 100%;
    left:0px;
    text-align: right;
}
table
{
    border:red solid 2px;
    background: #bacce8;
    vertical-align: center;
}
th
{
    background:#4424D6;
}
.middle-box
{
    background: #bacce8;
    width: 50%;
}
.leftside-box ,.rightside-box
{
    background: #3e4145;
    width: 25%;
}
.leftside-box
{
    float: left;
}
.rightside-box
{
    float : right;
}
footer
{
    background: #110934;
    position: fixed;
    bottom: 0%;
    color: white;
}
h1
{
    color: #110934;
    text-align: center;
    font-size: 3em;
    font-family: monospace;
}
table,td,th
{
    border: 1px solid black;
    border-collapse: collapse;
}
a{
    color: #B2D732;
}
.attribute
{
    font-weight: bold;
    background :
}
#header
{
    position: static; 
    background: #B2D732;
    padding 16px; 
}