body 
{
	width: 100%;
	background-color: #7b7368;
}
p
{
	color: #1f2c4f;
	font-family: "Times New Roman", Times, serif;
	font-size: 25px;
	text-indent: 600px;
}
div{position: absolute;}
.avatar
{
	left: 200px;
	top: 100px;
	height: 520px;
	width: 380px;
	position: absolute;
}